.root{
 -fx-background-color:
         linear-gradient(#0f4c75, #1b262c);
 -fx-font-family: 'Montserrat', Arial, sans-serif;
 -fx-text-fill: #A6B1E1;
}
.selectedLang{
 -fx-font-size: 15px;
 -fx-text-fill: #A6B1E1;
}
.startGameBtn{
 -fx-background-color: #8d93ab;
 }
}
.dashWord{
 -fx-text-fill: #A6B1E1;
 -fx-font-size: 35px;
 -fx-letter-spacing: 20px;
}
.hintWord{
 -fx-text-fill: #A6B1E1;
 -fx-font-size: 16px;
}
.lifeLabel{
 -fx-text-fill: #A6B1E1;
 -fx-font-size: 20px;
 -fx-font-weight: 500;
}
.text-input {
   -fx-control-inner-background: #A6B1E1;
   -fx-text-fill: #1e1e1e;
   -fx-opacity: 1;
 }